body{
  margin: 0;
  padding: 0;
  background: burlywood;
}
div{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
span{
  color: gold;
  font-size: 2em;
}
